<div class="container mt-4">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-primary mt-3">{{ button_label|default('Enregistrer la marque') }}</button>
{{ form_end(form) }}
</div>
